@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

// colori vari
$silver: #BCBCBC;
$darkSilver: #343142;
$darkBlue: #171621;
$white: #FEFEFE;

// colori sezioni/sfondi
$jumbotron: #EFF2F6;
$exploreGrey: #F8F8F8;

// colori testo
$mainGreen: #1EAE96;
$mainText: #282935;
$mainGrey:  #797979;


// grandezze testo
$h1: 34px;
$h2: 18px;
$h3: 16px;
$h5: 14px;
$mediumSmallText: 12px;
$smallText: 10px;


.container-60 {
    width: 60%;    
    margin: auto;
}
.container-85 {
    width: 85%;    
    margin: auto;
}
.container-80 {
    width: 80%;    
    margin: auto;
}

button {
    font-size: $smallText;
    font-weight: 500;
    border-radius: 4px;
}

.button-full {
    border: 1px solid $mainGreen;
    background-color: $mainGreen;
    color: $white;
    padding: 10px 30px;
}
.button-empty {
    border: 1px solid $silver;
    background-color: $white;
    color: $mainGreen;
    padding: 10px 40px;
}

