@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

$silver: #BCBCBC;
$darkSilver: #343142;
$darkBlue: #171621;
$white: #FEFEFE;
$jumbotron: #EFF2F6;
$mainGreen: #1EAE96;
$mainText: #282935;
$mainGrey:  #797979;

$h1: 34px;
$h2: 18px;
$h3: 16px;
$h5: 14px;
$smallText: 10px;


